<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @you2_heli.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @you2_heli.user_id %>
</p>

<%= link_to 'Edit', edit_you2_heli_path(@you2_heli) %> |
<%= link_to 'Back', you2_helis_path %>
