<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
<h1>
<%= gravatar_for @user %>
<%= @user.name %>
</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
    </section>
  </aside>
</div>

<div class="span8">
    <% if @user.you2helis.any? %>
      <h3>You2helis (<%= @user.you2helis.count %>)</h3>
      <ol class="you2helis">
       <%= render @user.you2helis %>
      </ol>

    <% end %>

  </div>